.about-section{
    border: 1px solid transparent; 
    text-align: center; 
    position: relative;
    background: white;
    padding: 56px 4px;
}

.about-section h2{
    font-size: 17px; 
}


.montana-pt{
    position: absolute;
    top: 42px;
    left: 5px;
    background: transparent;
    width: 20%;
    height: 90px;
}

.tech-div{
    display: none; 
}


.about-pic{
    width: 48%;
    height: 159px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 54px;
}

.about-section span{
    line-height: 33px;
    font-size: 24px;
    font-weight: 600;
    background: white;
    font-family: cursive; 
}


@media only screen and (min-width: 768px) {
    .about-pic{
        width: 44%;
        height: 253px;
    }
}

@media (min-width: 1000px){
    .about-pic{
        width: 24%;
        height: 300px;
    }
    .tech-div{
        position: absolute;
        display: inline-block; 
        right: 76px;
        top: 0; 
        width: 25%; 
    }
    .tech-div h4{
        font-family: cursive; 
    }
    .bigger{
        font-size: 22px; 
        background: linear-gradient(to left, black,white,#000000ad);
        color: black;
        transform: rotate(10deg);
        text-shadow: -4px 0px 20px black;
        background-color: white;
        border-radius: 27px;
        border: 1px solid white;
        border-width: 6px;
    }
    .normal-sz{
        font-size: 1em; 
    }
    .montana-pt{
        top: 90px;
        left: 29%;
        width: 8%;
        height: 90px;
    }
}
