
.about-section{
}

.about-section h1{
    text-align: center;
    background: #ebff9b52;
    /* height: 68px; */
    color: #27240c;
    margin-bottom: 0;
    width: 177px;
    margin: 6px auto;
    border-radius: 73px;
    font-family: cursive;
}

/* .about-section h1:before {
    display: inline-block;
    margin: 0 20px 13px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: rgb(36, 36, 36);
    width: 50px;
}

.about-section h1:after{
    display: inline-block;
    margin: 0 0 13px 20px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: rgb(36, 36, 36);
    width: 50px;
} */

.about-section .card-display{
    text-align: center;
}

.about-section .img-div{
    height: 232px;
    border: groove;
    border-color: #cda65cd1;
}

.about-section img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%; 
}

.about-section h6{
    text-align: center; 
    margin-top: 30px; 
}

.about-section h6:before {
    display: inline-block;
    margin: 0 20px 6px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: rgb(36, 36, 36);
    width: 17px;
}

.about-section h6:after{
    display: inline-block;
    margin: 0 0 6px 20px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: rgb(36, 36, 36);
    width: 17px;
}

.about-section ul{
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
}

.about-section li {
    list-style: none;
    border: 1px solid black;
    margin: 11px 14px;
    padding: 5px 5px;
    box-shadow: 5px 5px #00b8ff38;
}

.aboutSpan {
    background-color: #f7f383;
    padding: 10px 5px;
}

.about-section span {

    font-family: 'Kalam', cursive;
/* font-family: 'Permanent Marker', cursive; */
}

@media(min-width: 768px){
    .about-section{
        position: absolute;
        width: 86%;
        /*this is set to main-banner height*/
        top: 709px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: white;
        z-index: 1000;
    }
    .about-section h1{
    /* same as Portfolio header*/
        height: 68px;
    }

    .about-section .img-div{
        width: 200px;
        height: 146px;
        margin-bottom: 10px; 
    }
    .about-section h6{
        margin-top: 0; 
    }
}

@media (min-width: 1000px){
    .about-section{
        width: 68%;
    }
    .about-section .img-div{
        width: 100px;
        height: 100px;
        border: groove;
        border-width: 18px;
        width: 214px;
        border-color: #cda65cd1;
    }
}