.main-banner{
    height: 100vh; 
    background-image: url(../images/apple.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 110%;
}


.name-title-div{
    padding: 43px 0 0;
}

.name-title{
    font-size: 3em;
    letter-spacing: -2px;
    background: #ffffff4d;
    padding: 0 3px 0 5px;
}

.main-banner .h4{
    margin: 20px 0 0; 
    color: #209048; 
}

.bg-secondary {
    background-color:rgb(54, 54, 54); 
}

@media(min-width: 768px){
    /*this is important to match about div*/
    .main-banner{
        height: 100vh;
        background-size: 240%;
        background-position: 97%;
    }
    .name-title{
        font-size: 6em; 
    }
    .main-banner .h4{
        font-size: 3em;
        color: #48f184;
    }
}

@media (min-width:1000px){
    .main-banner{
        height: 100vh;
    }
    .main-banner .h4{
        color: #fde8e8;
        background-color: #516600a3;
        width: 259px;
        padding: 14px;
        border-radius: 1px; 
    }
}



.mainSquare {
    position: relative;
    width: 200px;
    border: 2px solid grey;
    border-style: dashed;
    margin: 30px auto;
    height: 213px;
}

.shapeOne {
    height: 170px;
    width: 159px;
    border: 1px solid #0089ff;
    position: absolute;
    left: 50%;
    top: 50%;  
}

.shapeTwo {
    height: 151px;
    width: 144px;
    border: 1px solid #ff000063;
    position: absolute;
    right: 64%;
    top: 12%;
}