.portfolio-section {
}

.portfolio-section h1 {
  text-align: center;
  background: #ebff9b52;
  /* height: 68px; */
  color: #27240c;
  margin-bottom: 0;
  width: 177px;
  margin: 6px auto;
  border-radius: 73px;
  font-family: "Architects Daughter", cursive;
}

.portfolio-section h1 {
  text-align: center;
}

.portfolio-section h4 {
  text-align: center;
  font-family: "Architects Daughter", cursive;
}

.card-display-projects {
  width: 90%;
  height: 300px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border: 1px solid #0000001c;
}

.card-display-projects img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s ease;
}

.card-display-projects .overlay {
  color: #0d0047;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #45ffd9c9;
  transition: 0.4s ease;
  transform: translateY(100%);
  opacity: 0;
}

.card-display-projects:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

.card-display-projects .overlay h5 {
  text-align: center;
  margin: 45px 0 35px;
  color: #01322f;
  background-color: #00ffc69e;
}

.card-display-projects .overlay ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.card-display-projects .overlay li {
  margin: 5px 5px;
  border: 1px solid #ffffff;
  padding: 10px 4px;
}

.link-div {
  text-align: center;
  margin: 20px 0 0;
}

.see-more-link {
  color: white;
  padding: 10px 10px;
  display: inline-block;
  margin: 0 auto;
  background-color: #46b3b3;
  transition: all 0.5s ease-in;
}

.see-more-link:hover {
  background-color: #007777;
  color: white;
}

.card-display-projects:hover img {
  transform: scale(1.1);
}

.card-display-projects .overlay button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .portfolio-section {
    background-color: transparent;
  }
  .portfolio-section h1 {
    width: 100%;
    /* margin: 0 auto;  */
    /* same as Portfolio header*/
    /* height: 68px; */
    background-color: white;
    border-radius: 0px;
    margin: 0;
  }
  .portfolio-section h4 {
    margin: 27px 0;
    color: black;
  }
  .projects-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
  }

  .card-display-projects {
    width: 30%;
  }
  .card-display-projects .overlay h5 {
    margin: 17px 0 23px;
  }
}

@media (min-width: 1000px) {
  .portfolio-section {
    /* padding-top: 96px; */
  }
  .portfolio-section h1 {
    width: 100%;
  }
}
