.single-project-page{
    padding: 22px 0;
    background: url(../images/appleCropSM.png); 
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.project-item{
    text-align: center;
    background: #fbfbfbcc;
    width: 92%;
    margin: 1px auto 0;
    padding: 12px 10px 33px;
    border: 15px #00000099;
    border-style: groove;
    box-shadow: inset white 1px 1px 20px 20px;
    border-radius: 26px;
}
@keyframes lead-h1 {
    from {
        color:#444444; 
    }
    to {
        color: white;

    }
  }
.project-item h1{
    background: #444444;
    color: white;
    padding: 10px 0;
    animation-name: lead-h1;
    animation-duration: 2s;
}

.project-item img {
    width: 200px;
    height: 200px;
    border: 1px solid #0000001a;
}

@keyframes lead-expansion {
    from {
        background-color: transparent;
        color:transparent; 
    }
    to {
        background-color: white;

    }
  }

.project-item .lead{
    font-size: 1.25rem;
    font-weight: 300;
    background: #ffffff7a;
    width: 80%;
    margin: 14px auto;
    padding: 16px 15px;
    border-radius: 2px;
    color: #ff0e0e;
    font-weight: 600;
    border: 1px solid #00000014;
    animation-name: lead-expansion;
    animation-duration: 2s;
}

.btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: .3rem;
    background: #7ff3ff;
    box-shadow: inset #4b89ab 0px 0px 10px 0px;
    width: 226px;
    margin-bottom: 14px;
    text-shadow: #0083ff6b 1px 1px 1px;
}

.project-item button a{  
    text-decoration: none; 
    display: block;
    font-weight: 600;
}

.project-item button:hover, .to-main:hover,
.project-item button:focus, .to-main:focus{
    background-color: #46B3B3;
}

.project-item i {
    padding-left: 14px;
}

@media(min-width: 768px){
    .single-project-page{
        padding-bottom: 140px; 
        padding-top: 71px;
        background: none; 
    }
    .project-item{
        padding: 0 0;  
    }
    .project-item h1{
        width: 100%; 
        height: 66px; 
    }
    .project-item button{
        cursor: pointer;
    }
    
}

@media(min-width: 768px){
    .single-project-page{
    }

    .project-item{
        width: 60%; 
        background: #fbfbfbcc;

    }


}