/* #root {
    background-color: #98a058; 
} */
.App{
    overflow: hidden;
    /* so that nav being absolute won't effect width of screen */
}

@media (min-width: 768px){
    .App{
        max-width: 90%;
        margin: 0 auto;
        border-left: 1px solid #00000038;
        border-right: 1px solid #00000038;
        background-image: url(./images/appleCropLG2.png);
        background-repeat: no-repeat;
        background-size: cover; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;        
        background-attachment: fixed;
        animation: bgImageAnimation 30s linear infinite;
        /* background-size: contain; */
    }
    .App::-webkit-scrollbar{
        display: none;
    }

    @keyframes bgImageAnimation {
        0%   {background-size: 100%;}
        25%  {background-size: 110%;}
        50%  {background-size: 115%;}
        75%  {background-size: 110%;}
        100% {background-size: 100%;}
    }
}
@media (min-width: 1000px){
    .App{
        max-width: 90%;
        margin: 0 auto;

    }
}
@media (min-width: 1300px){
    .App{
        max-width: 75%;
        margin: 0 auto;

    }
}
